@layer tailwind-base, primereact, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F3F3F3;


  .rtl {
    direction: rtl;
  }

  .p-dropdown .p-dropdown-label {
    font-family: '__IranSans_3d9ef6';
    font-size: 14px;
  }

  .p-dropdown-panel .p-dropdown-items {
    font-family: '__IranSans_3d9ef6';
    direction: rtl;
    font-size: 14px;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: #1773dc;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 14px;
  }

  .p-tabview .p-tabview-nav {
    font-family: '__IranSans_3d9ef6';
    align-items: center;
    gap: 15px;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    font-weight: 300;

  }
}
